@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background: linear-gradient(240deg, rgb(239, 200, 222) 0%, rgb(237, 218, 187) 100%);
}

.dots{
  --c2: rgb(136, 161, 173);
  background-image: radial-gradient(var(--c2) 2px, transparent 2px);
  background-size: 40px 40px;
}